@import "../../../style/core";
@import "./mixins";

$step-prefix-cls: #{$prefix-cls}step;
$stpes-prefix-cls: #{$prefix-cls}steps;

.#{$stpes-prefix-cls} {
  display: flex;
  justify-content: space-around;
  @include steps-default-size();

  @include steps-status-default();

  &-danger {
    @include steps-status-danger();
  }
  .#{$step-prefix-cls} {
    display: flex;
    align-items: center;
    text-align: left;
    &-tag {
      display: flex;
      align-items: center;
      justify-content: center;
      &-inner {
        text-align: center;
        border-radius: 100%;
        &-icon {
          border: none !important;
        }
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
    }

    &-subtitle {
      font-size: $steps-font-size-s;
    }

    &-description {
      font-size: $steps-font-size-s;
    }

    &-dot {
      display: flex;
      justify-content: center;
      &-inner {
        flex: 1;
      }
    }

    &-finished {
      .#{$step-prefix-cls}-tag {
        &-inner {
          color: $step-current-color;
          border: 1px solid $step-current-color;
        }
      }

      .#{$step-prefix-cls}-title {
        color: $step-base-color;
      }

      .#{$step-prefix-cls}-subtitle {
        color: $step-secondary-color;
      }
      .#{$step-prefix-cls}-description {
        color: $step-secondary-color;
      }
    }
  }

  &-small {
    @include steps-small-size();
  }

  &-horizontal {
    @include steps-horizontal();
  }

  &-vertical {
    @include steps-vertical();
  }
}
