.yewei-input-wrapper {
  display: flex;
  position: relative;
  margin-bottom: 30px;
  width: 100%;

  .yewei-input-icon-wrap {
    position: absolute;
    height: 100%;
    width: 35px;
    justify-content: center;
    color: $input-color;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;

    svg {
      color: $input-placeholder-color;
    }
  }

  .yewei-input-group-prepend,
  .yewei-input-group-append {
    display: flex;
    align-items: center;
    padding: $input-padding-y $input-padding-x;
    margin-bottom: 0; // Allow use of <label> elements by overriding our default margin-bottom
    font-size: $input-font-size; // Match inputs
    font-weight: $font-weight-normal;
    line-height: $input-line-height;
    color: $input-group-addon-color;
    text-align: center;
    white-space: nowrap;
    background-color: $input-group-addon-bg;
    border: $input-border-width solid $input-group-addon-border-color;
    border-radius: $input-border-radius;
  }
}



.yewei-input-icon-wrap+.yewei-input-inner {
  padding-right: 35px;
}

.yewei-input-inner {
  width: 100%;
  padding: $input-padding-y $input-padding-x;
  font-family: $input-font-family;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  box-shadow: $input-box-shadow;
  transition: $input-transition;

  &:focus {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;
    box-shadow: $input-focus-box-shadow;
  }

  &::placeholder {
    color: $input-placeholder-color;
    opacity: 1;
  }


  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    border-color: $input-disabled-border-color;
    opacity: 1;
  }

}


.yewei-input-group-prepend,
.input-group-append>.yewei-input-inner {
  @include border-right-radius(0);
}

.yewei-input-group-append,
.input-group-prepend>.yewei-input-inner {
  @include border-left-radius(0);
}

.is-disabled {
  background-color: $input-disabled-bg;
  border-color: $input-disabled-border-color;
  opacity: 1;
  pointer-events: none !important;
}