@import "../../../style/core";

.#{$prefix-cls}breadcrumb {
  color: $breadcrumb-base-color;
  font-size: $breadcrumb-font-size;

  ol {
    display: flex;
    flex-wrap: wrap;
  }

  .#{$prefix-cls}icon {
    margin: 0 4px;
    font-size: $breadcrumb-icon-size;
  }

  a {
    color: $breadcrumb-link-color;
    transition: color 0.3s;

    &:hover {
      color: $breadcrumb-link-color-hover;
      text-decoration: none;
    }
  }

  li:last-child {
    color: $breadcrumb-last-item-color;

    a {
      color: $breadcrumb-last-item-color;
    }
  }

  li:last-child &-item-sparator {
    display: none;
  }

  &-item-sparator {
    margin: $breadcrumb-separator-margin;
    color: $breadcrumb-base-color;
  }
}
