.#{$prefix-cls}divider {
  display: flex;
  flex-flow: row wrap;

  &::before,
  &::after {
    display: flex;
  }

  &-no-wrap {
    flex-wrap: nowrap;
  }
}

.#{$prefix-cls}divider-start {
  justify-content: flex-start;
}

.#{$prefix-cls}divider-center {
  justify-content: center;
}

.#{$prefix-cls}divider-end {
  justify-content: flex-end;
}

.#{$prefix-cls}divider-space-between {
  justify-content: space-between;
}

.#{$prefix-cls}divider-space-around {
  justify-content: space-around;
}

.#{$prefix-cls}divider-space-evenly {
  justify-content: space-evenly;
}
