.yewei-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
  border-bottom: $menu-border-width solid $menu-border-color;
  box-shadow: $menu-box-shadow;

  >.yewei-menu-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &.is-disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }

    &.is-active,
    &:hover {
      color: $menu-item-active-color;
      border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }

  .yewei-submenu-item {
    position: relative;

    .yewei-submenu-title {
      display: flex;
      align-items: center;
    }

    .yewei-arrow-icon {
      margin-left: 3px;
      transition: transform .25s ease-in-out;
    }

    &:hover {
      .yewei-arrow-icon {
        transform: rotate(180deg);
      }
    }

    .yewei-submenu-title {
      display: flex;
      align-items: center;
    }

    .yewei-arrow-icon {
      transition: transform .25s ease-in-out;
      margin-left: 3px;
    }

    &:hover {
      .yewei-arrow-icon {
        transform: rotate(180deg);
      }
    }
  }



  .yewei-submenu {
    list-style: none;
    padding-left: 0;
    white-space: nowrap;

    .yewei-menu-item {
      padding: $menu-item-padding-y $menu-item-padding-x;
      cursor: pointer;
      transition: $menu-transition;
      color: $body-color;

      &.is-active,
      &:hover {
        color: $menu-item-active-color !important;
      }
    }
  }

  .yewei-submenu.yewei-menu-opened {}
}

.yewei-menu-horizontal {
  >.yewei-menu-item {
    border-bottom: $menu-item-active-border-width solid transparent;
  }

  .yewei-submenu {
    position: absolute;
    background: $white;
    z-index: 100;
    top: calc(100% + 8px);
    left: 0;
    border: $menu-border-width solid $menu-border-color;
    box-shadow: $submenu-box-shadow;
  }
}

.yewei-menu-vertical {
  flex-direction: column;
  border-bottom: 0px;
  margin: 10px 20px;
  border-right: $menu-border-width solid $menu-border-color;

  >.yewei-menu-item {
    border-left: $menu-item-active-border-width solid transparent;

    &.is-active,
    &:hover {
      border-bottom: 0px;
      border-left: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }
}

.is-vertical {
  .yewei-arrow-icon {
    transform: rotate(0deg) !important;
  }
}

.is-vertical.is-opend {
  .yewei-arrow-icon {
    transform: rotate(180deg) !important;
  }
}