.#{$prefix-cls}title-1 {
  font-size: 34px;
  font-weight: 600;
}

.#{$prefix-cls}title-2 {
  font-size: 30px;
  font-weight: 500;
}

.#{$prefix-cls}title-3 {
  font-size: 26px;
  font-weight: 400;
}

.#{$prefix-cls}title-4 {
  font-size: 22px;
  font-weight: 500;
}

.#{$prefix-cls}title-5 {
  font-size: 18px;
  font-weight: 500;
}

.#{$prefix-cls}title-6 {
  font-size: 14px;
  font-weight: 500;
}
