@import "./mixins";
$title-size: (
  "title-1": 34px,
  "title-2": 30px,
  "title-3": 26px,
  "title-4": 22px,
  "title-5": 18px,
  "title-6": 16px,
);
@each $key, $value in $title-size {
  .#{$prefix-cls}#{$key} {
    font-size: $value;
    font-weight: 500;
  }
}

.#{$prefix-cls}text {
  color: $text-color;
  overflow-wrap: break-word;

  &-secondary {
    color: $text-color-secondary;
  }

  &-success {
    color: $success-color;
  }

  &-warning {
    color: $warning-color;
  }

  &-danger {
    color: $error-color;
  }
}
