// size
@mixin step-size($margin, $width-height, $font-size, $padding, $dot-size) {
  .#{$step-prefix-cls} {
    &-tag {
      margin: 0 $step-margin-s;
      transition: 0.25s all ease-in-out;

      &-inner {
        transition: 0.25s all ease-in-out;
        width: $width-height;
        height: $width-height;
        line-height: $width-height;
        padding: calc($margin / 4);
        size: $font-size;
      }
    }
    &-title {
      transition: 0.25s all ease-in-out;
      font-size: $font-size;
    }
    &-subtitle {
      transition: 0.25s all ease-in-out;
      margin-left: $padding;
    }
    &-dot {
      padding: 0 $margin;
      transition: 0.25s all ease-in-out;

      &-inner {
        transition: 0.25s all ease-in-out;

        border-bottom: $dot-size solid $step-undo-color;

        &-finished {
          border-bottom: $dot-size solid $step-current-color;
        }
      }
    }
  }
}

@mixin steps-default-size {
  @include step-size(
    $step-margin-m,
    $step-tag-size-m,
    $steps-font-size-m,
    $padding-l,
    2px
  );
}

@mixin steps-small-size {
  @include step-size(
    $step-margin-s,
    $step-tag-size-s,
    $steps-font-size-s,
    $padding-s,
    1px
  );
}
