$prefix-cls: #{$prefix-cls}step;

.#{$prefix-cls} {
  display: flex;
  align-items: center;
  text-align: left;
  transition: all 0.35s;

  &-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 $step-margin-m;
    &-inner {
      text-align: center;
      width: $step-tag-size-m;
      height: $step-tag-size-m;
      line-height: $step-tag-size-m;
      border: 1px solid $step-undo-color;
      color: $step-undo-color;
      padding: calc($step-margin-m / 4);
      border-radius: 100%;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
  }
  &-title {
    color: $step-undo-color;
    font-size: $steps-font-size-m;
  }

  &-subtitle {
    font-size: $steps-font-size-s;
    margin-left: $padding-m;
    color: $step-undo-color;
  }

  color: $step-undo-color;
  &-description {
    font-size: $steps-font-size-s;
  }

  &-dot {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0 calc($step-margin-m * 2);
    &-inner {
      flex: 1;
      border-bottom: 2px solid $step-undo-color;

      &-finnised {
        border-bottom: 2px solid $step-current-color;
      }
    }
  }

  &-current {
    .#{$prefix-cls}-tag {
      &-inner {
        color: #fff;
        background: $step-current-color;
        border: 1px solid $step-current-color;
      }
    }

    .#{$prefix-cls}-title {
      color: $step-base-color;
    }

    .#{$prefix-cls}-subtitle {
      color: $step-secondary-color;
    }
    .#{$prefix-cls}-description {
      color: $step-secondary-color;
    }
  }

  &-finised {
    .#{$prefix-cls}-tag {
      &-inner {
        color: $step-current-color;
        border: 1px solid $step-current-color;
      }
    }

    .#{$prefix-cls}-title {
      color: $step-base-color;
    }

    .#{$prefix-cls}-subtitle {
      color: $step-secondary-color;
    }
    .#{$prefix-cls}-description {
      color: $step-secondary-color;
    }
  }
}
