$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue-base: #6899e2 !default;
$blue-2: #4f81cc !default;
$blue-3: #3d6cb3 !default;
$blue-4: #295493 !default;
$blue-5: #1f4c91 !default;
$blue-6: #103978 !default;
$blue-7: #072d66 !default;

$red-base: #f5222d;
$red-1: #ea202a;
$red-2: #dd2029;
$red-3: #ce1d26;
$red-4: #bd1a22;
$red-5: #aa161e;
$red-6: #981219;
$red-7: #871016;
$red-8: #790e14;
$red-9: #690c11;
$red-10: #65070c;

$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #fadb14 !default;
$green: #52c41a !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
