$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue-base: #6899e2 !default;
$blue-2: #4f81cc !default;
$blue-3: #3d6cb3 !default;
$blue-4: #295493 !default;
$blue-5: #1f4c91 !default;
$blue-6: #103978 !default;
$blue-7: #072d66 !default;

$red-base: #f5222d !default;
$red-1: #ea202a !default;
$red-2: #dd2029 !default;
$red-3: #ce1d26 !default;
$red-4: #bd1a22 !default;
$red-5: #aa161e !default;
$red-6: #981219 !default;
$red-7: #871016 !default;
$red-8: #790e14 !default;
$red-9: #690c11 !default;
$red-10: #65070c !default;

$gold-base: #faad14 !default;
$gold-1: #eea513 !default;
$gold-2: #df9b12 !default;
$gold-3: #d19212 !default;
$gold-4: #c48811 !default;
$gold-5: #b88010 !default;
$gold-6: #ae7910 !default;
$gold-7: #a0700f !default;
$gold-8: #92660e !default;
$gold-9: #875e0d !default;
$gold-10: #7a550b !default;

$green-base: #a0d911 !default;
$green-1: #98cd10 !default;
$green-2: #8dbf10 !default;
$green-3: #79a30e !default;
$green-4: #83b10e !default;
$green-5: #7aa50d !default;
$green-6: #6f960d !default;
$green-7: #62840c !default;
$green-8: #59780b !default;
$green-9: #506b0b !default;
$green-10: #48600a !default;

$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #fadb14 !default;
$green: #52c41a !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
