$error-color: $red-5;
$error-color-hover: $red-2;
$error-color-active: $red-2;

$primary-color: $blue-5;
$primary-color-hover: $blue-2;
$primary-color-active: $blue-2;

$warning-color: $gold-base;
$warning-color-hover: $gold-2;
$warning-color-active: $gold-2;

$success-color: $green-base;
$success-color-hover: $green-2;
$success-color-active: $green-2;
