// base-color
$error-color: $red-5;
$error-color-hover: $red-2;
$error-color-active: $red-2;

$primary: $blue-base !default;
$primary-2: $blue-2 !default;
$primary-3: $blue-3 !default;
$primary-4: $blue-4 !default;
$primary-5: $blue-5 !default;
$primary-6: $blue-5 !default;
$primary-7: $blue-5 !default;

$primary-color: $blue-5;
$primary-color-hover: $blue-2;
$primary-color-active: $blue-2;

$warning-color: $gold-base;
$warning-color-hover: $gold-2;
$warning-color-active: $gold-2;

$success-color: $green-base;
$success-color-hover: $green-2;
$success-color-active: $green-2;

$disabled-color: $gray-500;
$disabled-color-hover: $disabled-color;
$disabled-color-active: $disabled-color;

// showdow

$shadow-2: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
// @shadow-color: rgba(0, 0, 0, 0.15);
// @shadow-color-inverse: @component-background;
// @box-shadow-base: @shadow-2;
// @shadow-1-up: 0 -6px 16px -8px rgba(0, 0, 0, 0.08), 0 -9px 28px 0 rgba(0, 0, 0, 0.05),
//   0 -12px 48px 16px rgba(0, 0, 0, 0.03);
// @shadow-1-down: 0 6px 16px -8px rgba(0, 0, 0, 0.08), 0 9px 28px 0 rgba(0, 0, 0, 0.05),
//   0 12px 48px 16px rgba(0, 0, 0, 0.03);
// @shadow-1-left: -6px 0 16px -8px rgba(0, 0, 0, 0.08), -9px 0 28px 0 rgba(0, 0, 0, 0.05),
//   -12px 0 48px 16px rgba(0, 0, 0, 0.03);
// @shadow-1-right: 6px 0 16px -8px rgba(0, 0, 0, 0.08), 9px 0 28px 0 rgba(0, 0, 0, 0.05),
// //   12px 0 48px 16px rgba(0, 0, 0, 0.03);
// @shadow-2: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
// 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
