.zoom-in-top-enter {
  opacity: 0;
  transform: scaleY(0);
}

.zoom-intop-enter-active {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 300ms cubic-bezier(0.23, 1, 0.23, 1) 100ms, opacity 300ms cubic-bezier(.23, 1, .23, 1) 100ms;
  transform-origin: center top;
}

.zoom-in-top-exit {
  opacity: 1;
}

.zoom-intop-exit-active {
  opacity: 0;
  transform: scaleY(0);
  transition: transform 300ms cubic-bezier(0.23, 1, 0.23, 1) 100ms, opacity 300ms cubic-bezier(.23, 1, .23, 1) 100ms;
  transform-origin: center top;
}