@mixin button-size($padding-y, $padding-x, $font-size, $boeder-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $boeder-radius;
}

@mixin button-style($background, $border, $color, $hover-background:lighten($background, 7.5%), $hover-border:lighten($border, 10%), $hover-color:$color) {
  color: $color;
  background: $background;
  border: $border;

  &:hover {
    color: $hover-color;
    background: $hover-background;
    border: $hover-border;
  }

  &:focus,
  &.focus {
    color: $hover-color;
    background: $hover-background;
    border: $hover-border;
  }

  &:disabled,
  &.disabled {
    color: $color;
    background: $background;
    border: $border;
  }
}