.#{$prefix-cls}dropdown {
  position: relative;

  &-menu {
    // base
    position: absolute;
    background: $dropdown-menu-bg;
    box-shadow: $dropdown-menu-boxshadow;
    border-radius: $dropdown-menu-border-radius;
    padding: $padding-m 0;
    // animation
    opacity: 1;
    transition: 0.25s all ease-in-out;
    visibility: visible;
    transform: scale(1);

    &-visible-hidden {
      transform: scale(0.8);
      opacity: 0;
      visibility: hidden;
    }
  }

  &-item {
    cursor: pointer;
    margin: 0;
    padding: $padding-s $padding-l;
    color: $text-color;
    font-size: $font-size-base;
    transition: 0.35s all ease-in-out;

    > .k_icon {
      font-size: $font-size-sm;
    }
    // border-bottom: 1px solid #f5f5f5;
    &:hover {
      background: $dropdown-item-hover-bg;
    }
  }

  &-item-disabled {
    cursor: not-allowed;
    user-select: none;
    background: none;
    color: $disabled-color;
    &:hover {
      background: none;
    }
  }

  &-item-danger {
    color: $error-color-hover;
    &:hover {
      color: $component-background;
      background-color: $error-color-hover;
    }
  }
}
