@import "../../../style/core";
.#{$prefix-cls}pagination {
  display: flex;

  &-item {
    display: block;
    font-size: $pagination-font-size;
    text-align: center;
    background-color: $pagination-bg-color;
    border: 1px solid $pagination-border-color;
    border-radius: 2px;
    outline: none;
    width: $pagination-item-size;
    height: $pagination-item-size;
    line-height: $pagination-item-size;
    cursor: pointer;
    // transition: all 0.3s;
    margin: 0 $padding-s;
    &-selected,
    &:not(&-icon-disabled, &-ellipsis-icon):hover {
      color: $primary-color-active;
      border: 1px solid $primary-color-active;
      font-weight: 600;
    }

    &-ellipsis-icon {
      border: none;
      color: $gray-600;

      &:hover {
        color: $primary-color-hover;
      }
    }

    &-icon {
      &-disabled {
        cursor: not-allowed;
        user-select: none;
        color: $disabled-color;
        border: 1px solid $disabled-color;
      }
    }
  }
}
