$disabled-color: rgba(0, 0, 0, 25%);
$disabled-bg: rgba(0, 0, 0, 7%);
$disabled-active-bg: rgba(0, 0, 0, 90%);

$component-background: #fff;

// Border Color
$border-color-base: rgba(0, 0, 0, 7%);

$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

// Error

// 高度规则
$height-base: 32px !default;
$height-lg: 40px !default;
$height-sm: 24px !default;

// 字体颜色
$text-color: rgba(0, 0, 0, 85%);
$text-color-secondary: rgba(0, 0, 0, 55%);

// 字体大小
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-root: null !default;

// 字重
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;

// padding
$padding-s: 4px;
$padding-m: 8px;
$padding-l: 12px;

// 行高
$line-height-base: 1.5 !default;
$line-height-lg: 2 !default;
$line-height-sm: 1.25 !default;

// 标题大小
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// 链接
$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// body
$body-bg: $white !default;
$body-color: $gray-900 !default;
$body-text-align: null !default;

// Spacing
$spacer: 1rem !default;

$headings-margin-bottom: calc($spacer / 2) !default;
$headings-font-family: null !default;
$headings-font-style: null !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
$headings-color: null !default;

// Paragraphs

$paragraph-margin-bottom: 1rem !default;

// 字体其他部分 heading list hr 等等
$headings-margin-bottom: $spacer / 2 !default;
$headings-font-family: null !default;
$headings-font-style: null !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
$headings-color: null !default;

$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;

$display1-weight: 300 !default;
$display2-weight: 300 !default;
$display3-weight: 300 !default;
$display4-weight: 300 !default;
$display-line-height: $headings-line-height !default;

$lead-font-size: $font-size-base * 1.25 !default;
$lead-font-weight: 300 !default;

$small-font-size: 0.875em !default;

$sub-sup-font-size: 0.75em !default;

$text-muted: $gray-600 !default;

$initialism-font-size: $small-font-size !default;

$blockquote-small-color: $gray-600 !default;
$blockquote-small-font-size: $small-font-size !default;
$blockquote-font-size: $font-size-base * 1.25 !default;

$hr-color: inherit !default;
$hr-height: 1px !default;
$hr-opacity: 0.25 !default;

$legend-margin-bottom: 0.5rem !default;
$legend-font-size: 1.5rem !default;
$legend-font-weight: null !default;

$mark-padding: 0.2em !default;

$dt-font-weight: $font-weight-bold !default;

$nested-kbd-font-weight: $font-weight-bold !default;

$list-inline-padding: 0.5rem !default;

$mark-bg: #fcf8e3 !default;

$hr-margin-y: $spacer !default;

// Code

$code-font-size: $small-font-size !default;
$code-color: $pink !default;
$pre-color: null !default;

// options 可配置选项
$enable-pointer-cursor-for-buttons: true !default;

// 边框 和 border radius

$border-width: 1px !default;
$border-color: $gray-300 !default;

$border-radius: 0.25rem !default;
$border-radius-lg: 0.3rem !default;
$border-radius-sm: 0.2rem !default;

// 不同类型的 box shadow
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075) !default;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175) !default;
$box-shadow-inset: inset 0 1px 2px rgba($black, 0.075) !default;

// 按钮
// 按钮基本属性
$btn-font-weight: 400;
$btn-padding-y: 0.375rem !default;
$btn-padding-x: 0.75rem !default;
$btn-font-family: $font-family-base !default;
$btn-font-size: $font-size-base !default;
$btn-line-height: $line-height-base !default;
$btn-height-base: $height-base !default;
$btn-height-sm: $height-sm !default;
$btn-height-lg: $height-lg !default;

$btn-default-color: $text-color;
$btn-default-bg: $component-background;
$btn-default-border: $border-color-base;

$btn-danger-color: #fff;
$btn-danger-bg: $error-color;
$btn-danger-border: $error-color;

$btn-primary-color: $primary;
$btn-primary-active-color: $primary-2;

$btn-disabled-color: $disabled-color;
$btn-disabled-bg: $disabled-bg;
$btn-border-color: $border-color-base;

//不同大小按钮的 padding 和 font size
$btn-padding-y-sm: 0.25rem !default;
$btn-padding-x-sm: 0.5rem !default;
$btn-font-size-sm: $font-size-sm !default;

$btn-padding-y-lg: 0.5rem !default;
$btn-padding-x-lg: 1rem !default;
$btn-font-size-lg: $font-size-lg !default;

$btn-border-width: $border-width !default;

$btn-border-style: solid;

$btn-box-shadow: inset 0 1px 0 rgba($white, 0.15), 0 1px 1px rgba($black, 0.075) !default;
$btn-disabled-opacity: 0.65 !default;

$btn-link-color: $link-color !default;
$btn-link-hover-color: $link-hover-color !default;
$btn-link-disabled-color: $gray-600 !default;
$btn-link-hover-bg: transparent;
$btn-text-hover-bg: rgba(0, 0, 0, 0.018);

// 按钮 radius
$btn-border-radius: calc($border-radius * 0.6) !default;
$btn-border-radius-lg: $border-radius-lg !default;
$btn-border-radius-sm: $border-radius-sm !default;

$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !default;

// menu
$menu-border-width: $border-width !default;
$menu-border-color: $border-color !default;
$menu-box-shadow: inset 0 1px 0 rgba($white, 0.15),
  0 1px 1px rgba($black, 0.075) !default;
$menu-transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out !default;

// menu-item
$menu-item-padding-y: 0.5rem !default;
$menu-item-padding-x: 1rem !default;
$menu-item-active-color: $primary !default;
$menu-item-active-border-width: 2px !default;
$menu-item-disabled-color: $gray-600 !default;

//sub-menu
//submenu
$submenu-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12),
  0 0 6px 0 rgba(0, 0, 0, 0.04);

// Progress bars

$progress-font-size: $font-size-base * 0.75 !default;
$progress-bg: $gray-200 !default;
$progress-border-radius: $border-radius !default;
$progress-bar-color: $white !default;
$progress-bar-transition: width 0.6s ease !default;

// divider
$divider-orientation-margin: 5%;

// layout

$layout-body-background: #f0f2f5;
$layout-header-background: #001529;
$layout-header-height: 64px;
$layout-header-padding: 0 50px;
$layout-header-color: $text-color;
$layout-footer-padding: 24px 50px;
$layout-footer-background: $layout-body-background;
$layout-sider-background: $layout-header-background;
$layout-trigger-height: 48px;
$layout-trigger-background: #002140;
$layout-trigger-color: #fff;
$layout-zero-trigger-width: 36px;
$layout-zero-trigger-height: 42px;

// breadcrumb

$breadcrumb-base-color: $text-color-secondary;
$breadcrumb-font-size: $font-size-root;
$breadcrumb-link-color: $text-color-secondary;
$breadcrumb-link-color-hover: $primary-5;
$breadcrumb-last-item-color: $text-color;
$breadcrumb-separator-color: $text-color-secondary;
$breadcrumb-separator-margin: 0 $padding-s;
$breadcrumb-icon-size: $font-size-sm;

// dropdown
$dropdown-menu-boxshadow: $shadow-2;
$dropdown-menu-bg: $component-background;
$dropdown-menu-border-radius: $border-radius;

$dropdown-item-hover-bg: #f5f5f5;

// menu

$menu-horizontal-height: 42px;
$menu-horizontal-border: 1px solid $disabled-color;

// page-header

$page-header-header-height: 70px;

$page-header-font-size-m: 20px;
$page-header-font-size-s: 14px;
$page-header-font-size-l: 24px;

$page-header-margin-s: $padding-m;
$page-header-margin-m: $padding-l;
$page-header-margin-l: calc($padding-s + $padding-l);

$page-header-font-weight-s: 400;
$page-header-font-weight-m: 500;
$page-header-font-weight-l: 600;

$page-header-text-color: $text-color;
$page-header-text-color-secondary: $text-color-secondary;
$page-header-text-colot-hover: $primary;

// pagination
$pagination-font-size: $font-size-sm;
$pagination-bg-color: #ffffff;
$pagination-border-color: #d9d9d9;
$pagination-item-size: 30px;

// steps
$steps-font-size-s: $font-size-sm;
$steps-font-size-m: $font-size-base;
$steps-font-size-l: $font-size-lg;

$step-tag-size-s: 20px;
$step-tag-size-m: 24px;

$step-base-color: $text-color;
$step-secondary-color: $secondary;
$step-current-color: $primary-color;
$step-undo-color: rgba($step-secondary-color, 0.45);
$step-danger-color: $error-color;

$step-margin-s: 8px;
$step-margin-m: 12px;

// input
$input-padding-y: 6px !default;
$input-padding-x: 10px !default;
$input-padding-y-s: 4px !default;
$input-padding-x-s: 5px !default;
$input-padding-y-l: 10px !default;
$input-padding-x-l: 14px !default;

$input-border-color-hover: $primary !default;
$input-border-color: rgba($gray-600, 35%) !default;

$input-outline-offset: 0 0 !default;
$input-ouline-blur: 0 !default;
$input-outline-width: 1px !default;
$input-ouline-color: rgba($input-border-color-hover, 40%) !default;

$input-font-size-s: 14px !default;
$input-font-size-m: 16px !default;
$input-font-size-l: 18px !default;

$input-addon-bg: rgba($input-border-color, 13%) !default;
$input-addon-font-size-s: 15px !default;
$input-addon-font-size-m: 14px !default;
$input-addon-font-size-l: 14px !default;
$input-addon-padding-s: 0 $input-padding-x-s !default;
$input-addon-padding-m: calc($input-padding-y - 1px) $input-padding-x-s !default;
$input-addong-padding-l: calc($input-padding-y-l + 0.5px) $input-padding-x-l !default;

$input-height-s: 24px !default;
$input-height-m: 32px !default;
$input-height-l: 40px !default;

$input-fix-color: $secondary;

$input-border-color-error: $error-color !default;
$input-border-color-error-hover: $error-color-hover !default;
$input-fix-color-error: rgba($error-color, 75%) !default;
$input-outline-color-error: rgba($error-color, 40%) !default;

$input-border-color-warning: $warning-color !default;
$input-border-color-warning-hover: $warning-color-hover !default;
$input-fix-color-warning: rgba($warning-color, 75%) !default;
$input-outline-color-warning: rgba($warning-color, 40%) !default;

// selector

$selector-dropdown-padding-base: $padding-m $padding-s;
$selector-dropdown-menu-shadow: $shadow-2;

$selector-dropndown-item-padiing-base: $padding-s $padding-s;

$selector-dropdown-item-hover-bg: rgba($secondary, 10%);
$selector-dropdown-item-selected-bg: rgba($primary-color, 45%);

$selecotr-disabled-color: $disabled-color;

$selector-multiple-item-bg: rgba($secondary, 10%);
$selector-multiple-item-border: 1px solid rgba($secondary, 35%);
