.#{$prefix-cls}input-num {
  &-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;

    transition: 0.35s all ease-in-out;

    &-item {
      height: 16px;
      font-size: 12px;
      cursor: pointer;
      transition: 0.34s all ease-in-out;
      &:hover {
        color: $primary-color;
      }
    }

    &-add-disabled {
      cursor: not-allowed;
      color: $disabled-color;
      &:hover {
        color: $disabled-color;
      }
    }

    &-min-disabled {
      cursor: not-allowed;
      color: $disabled-color;
      &:hover {
        color: $disabled-color;
      }
    }

    &-vis {
      visibility: visible;
      opacity: 1;
    }
  }
}
