$grid-columns: 24;

@mixin make-grid() {
  @for $i from 0 through 24 {
    @if $i > 0 {
      .#{$prefix-cls}col-#{$i} {
        display: flex;
        flex: 0 0 percentage(calc($i / $grid-columns));
        max-width: percentage(calc($i / $grid-columns));
      }
    } @else if $i == 0 {
      .#{$prefix-cls}col-#{$i} {
        display: none;
      }
    }
  }
}
