.#{$prefix-cls}menu-horizontal {
  display: flex;
  border-bottom: $menu-horizontal-border;
  box-sizing: border-box;
  height: $menu-horizontal-height;
  line-height: $menu-horizontal-height;
}

.#{$prefix-cls}menu-item-horizontal-item {
  height: calc($menu-horizontal-height - 2px);
  cursor: pointer;
  transition: 0.4s all ease-in-out;
  border-bottom: 2px solid transparent;
  padding: 0 $padding-m;
  color: $text-color;
  &-selectd,
  &:hover {
    color: $primary;
    border-bottom: 2px solid $primary;
  }

  &-icon {
    display: inline-block;
    margin: 0 $padding-s;
    font-size: 14px;
  }
}
