.#{$prefix-cls}menu-horizontal {
  display: flex;
  border-bottom: $menu-horizontal-border;
  box-sizing: border-box;
  height: $menu-horizontal-height;
  line-height: $menu-horizontal-height;
}

.#{$prefix-cls}submenu-horizontal {
  position: relative;
}

.#{$prefix-cls}menu-submenu-horizontal-submenu {
  position: absolute;
  width: max-content;
  background: $dropdown-menu-bg;
  box-shadow: $dropdown-menu-boxshadow;
  border-radius: $dropdown-menu-border-radius;
  padding: $padding-m 0;
  z-index: 999;
  // animation
  opacity: 0;
  transition: 0.05s all ease-in-out;
  visibility: hidden;
  transform: scale(0.8);

  .#{$prefix-cls}menu-item {
    border: none;
    &:hover {
      border: none;
      color: $primary-2;
    }
  }

  &-open {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  .#{$prefix-cls}menu-item-horizontal-item-selectd {
    background: rgba($primary, 0.2);
    color: $primary-2;
  }
}

.#{$prefix-cls}menu-item-horizontal-item {
  height: calc($menu-horizontal-height - 2px);
  cursor: pointer;
  transition: 0.4s all ease-in-out;
  border-bottom: 2px solid transparent;
  padding: 0 $padding-m;
  color: $text-color;
  &-selectd,
  &:hover {
    color: $primary;
    border-bottom: 2px solid $primary;
  }

  &-icon {
    display: inline-block;
    margin: 0 $padding-s;
    font-size: 14px;
  }
}
@import "./vertical";
