.#{$prefix-cls}menu-vertical {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  box-sizing: border-box;
  // width: fit-content;
  min-width: 300px;
  width: fit-content;
  border-right: 1px solid rgba(#000, 0.1);
  position: relative;
  margin-top: 0;
  margin-left: 0;
  transition: 0.25s all ease-in-out;

  &-collapesd {
    min-width: 45px;
    max-width: 45px;
    width: min-content;
    overflow: hidden;
  }
}

.#{$prefix-cls}menu-submenu-vertical-submenu {
  display: flex;
  flex-direction: column;
  max-height: 0;

  visibility: hidden;
  background-color: rgba(#ccc, 0.1);
  transition: 0.6s max-height ease-in-out, 0.1s visibility ease-in-out;
  .#{$prefix-cls}menu-item-vertical-item {
    border-right: 4px solid transparent;
    font-size: 14px;
    padding-left: $padding-l;
    &-selected {
      background: rgba($primary-2, 0.1);
      border-right: 4px solid $primary;
    }
  }
}

.#{$prefix-cls}menu-item-vertical-item {
  min-height: $menu-horizontal-height;
  line-height: $menu-horizontal-height;
  cursor: pointer;
  transition: 0.24s all ease-in-out;
  color: $text-color;
  padding-left: $padding-l;
  &-selected,
  &:hover {
    color: $primary;
  }

  &-icon {
    display: inline-block;
    margin: 0 $padding-l 0 0;
    font-size: 14px;
  }
}

.#{$prefix-cls}menu-item-vertical-item-selected {
  .#{$prefix-cls}menu-submenu-vertical-submenu {
    max-height: 100vh;
    visibility: visible;
  }
}
