@mixin btn-size($height, $padding-x, $padding-y, $font-size, $border-radius) {
  height: $height;
  padding: calc($padding-y * 0.4) calc($padding-x * 2.3);
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin btn-color($color, $background, $border) {
  color: $color;
  border-color: $border;

  @if $background {
    background: $background;
  }

  > a:only-child {
    color: currentColor;

    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: transparent;
      content: "";
    }
  }
}

@mixin btn-variabel($color, $background, $border) {
  @include btn-color($color, $background, $border);

  &:hover,
  &:focus,
  &:active {
    @include btn-color($color, $primary-2, $primary);
  }
}

@mixin btn() {
  position: relative;
  display: inline-block;
  font-weight: $font-weight-base;
  white-space: nowrap;
  text-align: center;
  border: $btn-border-width $btn-border-style transparent;
  box-shadow: $btn-box-shadow;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  user-select: none;
  touch-action: manipulation;
  @include btn-size(
    $btn-height-base,
    $btn-padding-x,
    $btn-padding-y,
    $font-size-base,
    $btn-border-radius
  );
}

@mixin btn-disabled(
  $color: $btn-disabled-color,
  $background: $btn-disabled-bg,
  $border: $btn-border-color
) {
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active {
      @include btn-color($color, $background, $border);
      text-shadow: none;
      box-shadow: none;
    }
  }
}

@mixin btn-primary() {
  @include btn-variabel(white, $primary, transparent);
}

@mixin btn-variabel-other($color, $background, $border) {
  @include btn-color($color, $background, $border);

  &:hover,
  &:focus {
    @include btn-color($primary-5, $background, $primary-5);
  }

  &:active {
    @include btn-color($primary-7, $background, $primary-7);
  }

  @include btn-disabled();
}

@mixin btn-ghost() {
  @include btn-variabel-other();
}

@mixin btn-dashed() {
  @include btn-variabel-other(
    $btn-default-color,
    $btn-default-bg,
    $btn-default-border
  );
  border-style: dashed;
}

@mixin btn-link() {
  @include btn-variabel-other($link-color, transparent, transparent);
  box-shadow: none;

  &:hover {
    background: $btn-link-hover-bg;
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }

  @include btn-disabled($disabled-color, transparent, transparent);
}

@mixin btn-text() {
  @include btn-variabel-other($text-color, transparent, transparent);
  box-shadow: none;

  &:hover,
  &:focus {
    color: $text-color;
    background: $btn-text-hover-bg;
    border-color: transparent;
  }

  @include btn-disabled($disabled-color, transparent, transparent);
}
