.#{$prefix-cls}selector {
  position: relative;
  box-sizing: border-box;

  &-inner {
    input {
      cursor: pointer;
      caret-color: transparent;
    }

    &-input {
      input {
        cursor: text;
        caret-color: $text-color;
      }
    }
  }

  &-menu {
    box-shadow: $selector-dropdown-menu-shadow;
    // padding: $selector-dropdown-padding-base;
    background-color: $component-background;
    position: absolute;
    z-index: 999;
    width: 100%;
    box-sizing: border-box;
    top: 40px;

    transition: 0.35s all ease-in;
  }

  &-option {
    cursor: pointer;

    padding: $selector-dropdown-padding-base;
    // margin: $selector-dropndown-item-padiing-base;
    transition: 0.15s all ease-in-out;

    &-hover {
      background-color: $selector-dropdown-item-hover-bg;
    }

    &-selected {
      background-color: $selector-dropdown-item-selected-bg;
      font-weight: 500;
    }

    &-disabled {
      color: $selecotr-disabled-color;
      cursor: not-allowed;
      font-weight: lighter;
    }

    &-empty {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
